{% load static %}

<footer>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <div class="container"></div>

    <div class="colm"></div>
    <div class="colm"></div>
    <div class="colm"> <h4 style="letter-spacing: 5px;">ABOUT US</h4></div>
         <ul>
             <li> <a href="https://www.instagram.com/spacetroopers_ieee/" target="_blank"> <img src="{% static 'images/instagram.png' %}" alt=""></a> </li>
             <li> <a href="https://www.linkedin.com/company/space-troopers/" target="_blank"> <img src="{% static 'images/linkedin.png' %}" alt=""></a></li>
             <li> <a href="mailto:spacetroopers@gmail.com" target="_blank"><img src="{% static 'images/mail.png' %}" alt=""></a></li> 
         </ul>
</footer>
<div class="copyright">
    <small> Copyright © </small>
</div>