{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/ANASAYFA.css' %}">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hacettepe Space Troopers</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
</head>
<body>
    {% include  'header.html' %}
    <div class="container">
        <p class="letter letter-S">Space Tr</p>
        <div class="moon">
        </div> <div class="moon2"></div>
        <p class="letter letter-P">pers</p>
        
    </div>
    <section> 
        <a href="https://roverchallenge.eu/en/main-page/" target="_blank" class="button">About ERC</a>
    </section>
        
    {% include 'footer.html' %}
</body>
</html>