{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Details</title>
    <link rel="stylesheet" href="{% static 'css/postdetails.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
</head>
<body>
    {% include  'header.html' %}
      <main class="post-detail-container"> 
        <img src="{{post.img.url}}" class="post-detail-image"alt="">
            <h1>{{post.title}}</h1>
            <p>{{post.content|linebreaks}}</p>
      </main>
</body>
</html>