{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Members</title>
    <script src="https://kit.fontawesome.com/2a3c308efc.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/teammember.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
</head>
<body>
    {% include  'header.html' %}
    <section>
        <h2>Mentors</h2>
        <div class="container">
        {% for team_member in team_member_list %}
        {% if team_member.subteam == 2 %}
        <div class="card">
            <div class="content">
                <div class="imgBx">    
                    <a href="#">
                        <img src="{{team_member.img.url}}" alt="">
                    </a>
                </div>
                <div class="contentBx">
                    <h3>{{team_member.name}}</h3>
                </div>
            </div>
            <ul class="sci">
                <li>
                    <a href="{{team_member.linkedin_url}}"> <i class="fa-brands fa-linkedin"></i> </a>
                </li>
            </ul>
        </div>
        {% endif %}
        {% endfor %}    
        </div>
        <h2>Software Team</h2>
        <div class="container">
        {% for team_member in team_member_list %}
        {% if team_member.subteam == 0 %}
        <div class="card">
            <div class="content">
                <div class="imgBx">    
                    <a href="#">
                        <img src="{{team_member.img.url}}" alt="">
                    </a>
                </div>
                <div class="contentBx">
                    <h3>{{team_member.name}}</h3>
                </div>
            </div>
            <ul class="sci">
                <li>
                    <a href="{{team_member.linkedin_url}}"> <i class="fa-brands fa-linkedin"></i> </a>
                </li>
            </ul>
        </div>
        {% endif %}
        {% endfor %}    
        </div>
        <h2>Science Team</h2>
        <div class="container">
        {% for team_member in team_member_list %}
        {% if team_member.subteam == 1 %}
        <div class="card">
            <div class="content">
                <div class="imgBx">    
                    <a href="#">
                        <img src="{{team_member.img.url}}" alt="">
                    </a>
                </div>
                <div class="contentBx">
                    <h3>{{team_member.name}}</h3>
                </div>
            </div>
            <ul class="sci">
                <li>
                    <a href="{{team_member.linkedin_url}}"> <i class="fa-brands fa-linkedin"></i> </a>
                </li>
            </ul>
        </div>
        {% endif %}
        {% endfor %}    
        </div>
    </section>
</body>
</html>