{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our researches & blog</title>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.png' %}">
</head>
<body>
    {% include  'header.html' %}
       <main> 
            <div class="sitebackground"> 
                <h3 class="sitetitle">Space Troopers </h3>
            </div> 
        </main>
    <div class="bloglist">
        {% for team_member in team_member_list %}
        <div class="blogpostcard">
            <div id = 'container'>
                <img src = "{{team_member.img_url}}"   width="200px" height = "250px"/>
            </div>
            <strong class="post-date">{{post.created_on}}</strong>
            <h3 class="posttitle">{{team_member.name}}</h3>
            <h4>{{team_member.subteam_str}}</h4>
            <p class="postinfo">{{team_member.informations|slice:":200"}}</p>
        </div>
        {% endfor %}    
</body>
</html>